@media (max-width: 768px){
  .content {
  padding: 30% 0 0;
  }
}

.navbar-collapse {
  overflow-x: hidden !important;
}

/* Hamburguer menu override */
@media (max-width: 710px) {
    #tf-menu.navbar-default {
      background-color: rgba(0, 0, 0, 0.5);
     }    
    .navbar-underline {
      display: none;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

@media (max-width: 603px){
#tf-menu.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);
 }
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}

@media (max-width: 394px){
  .navbar-brand {
    width: 170px!important;
  }
  .lca-logo {
    width: 80px;
  }
  #bs-example-navbar-collapse-1 {
    margin-top: 10px;
  }
}